.index-block1{
    position: relative;
    .logoimg{
        width: 26.7%;
//      height: 0.9rem;
        position: absolute;
        top: 0.75rem;
        left: 0.5rem;
        z-index: 22;
    }
    .swiper-container-banner{
        width: 100%;
        .swiper-wrapper{
        }
    }
    .pagationBox{        
        width: 8.5rem;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        margin-left: -4.05rem;
        z-index: 10;
        img{
            width: 2.6rem;
            border: 2px #fff solid;
            box-sizing: border-box;
            float: left;
            &.active{
                border-color: #00b7ee;
            }
            &.pagation1{
                margin-right: 0.3rem;
            }
            &.pagation2{
                margin-right: 0.3rem;
            }
            &.pagation3{
                
            }
        }
    }
    .banner01-content{
        width: 100%;
        position: absolute;
        left: 0;
        top: 26%;
        z-index: 10;
    }
    .top-titleh4{        
        height: 1.2rem;
        font-size: 0.85rem;
        color: #fff;
        text-align: center;
        letter-spacing:3px;
        
    }
    .top-titleh3{
        width: 100%;
        height: 0.55rem;
        font-size: 0.45rem;
        color: #fff;
        text-align: center;
        text-transform:Uppercase;
        font-weight: normal;
    }
    .banner01-content2{
        width: 10.65rem;
        position: absolute;
        left: 54%;
        top: 49%;
        margin-left: -4.825rem;
        &.hisycenter{
            left: 64%;
        }
        &.vercenter{
            top:43%;
        }
        .top-titlep{
            height: 0.95rem;
            line-height: 0.95rem;
            text-align: left;
            color: #fff;
            font-size: 0.45rem;
            font-weight: normal;
            white-space: nowrap;
            span{
                font-size: 0.45rem;
                font-weight: bold;
                color: #6acce8;
                margin-right: 0.7rem;
            }
        }
    }
    .banner01-bottom{
        width: 16rem;
        height: 3rem;
        background: url(../img/banner02-bottom.png) no-repeat;
        background-size: 100%;
        position: absolute;
        top: 68%;
        left: 50%;
        margin-left: -8rem;
    }
    .topMenu{
        
    }
    .topMenu-top{
        width: 12rem;
        height: 2rem;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        span{
            width: 1.5rem;
            height: 2rem;
            display: block;
            background: url(../img/sanjiao1.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            left: -1.5rem;
        }
        i{
            font-size: 0.8rem;     
            position: absolute;
            right: 0.8rem;
            top: 0.6rem;
        }
    }
    .topMenu-bottom{
        width: 13.5rem;
        background: #fff;
        position: absolute;
        top: 2rem;
        right: 0;
        z-index: 3;
        border-top: 1px #e4e4e4 solid;
        padding:0 0 0.3rem 1.5rem;
        box-sizing: border-box;
        a.titlea{
            display: block;
            font-size: @title2;
            color: #333;
            height: 1.4rem;
            line-height: 1.4rem;
            margin-top: 0.3rem;
            position: relative;
            i{
                display: inline-block;
                width: 0.2rem;
                height: 0.2rem;
                border: 0.1rem #6acce8 solid;
                border-radius: 50%;
                margin:0 0.3rem 0 -0.6rem;
            }
        }
        a{
            font-size: @title3;
            color: #999;
            display: block;
            height: 1.2rem;
            line-height: 1.2rem;
            white-space: nowrap;
        }
    }
}
.index-block2{
    width: 100%;
    background: url(../img/index2.png) no-repeat top center;
    background-size: 100%;
    overflow: hidden;
    .centerBox{
        margin: 0 auto 0;
    }
    .centerBox-title{
        text-align: center;
        font-size: 1rem;
        color: #352e2c;
        margin-bottom: 1.8rem;
        img{
            width: 2.15rem;
            height: 2.47;            
            margin-right: 0.2rem;            
        }
    }
}
.margin0{
    margin-bottom: 0px!important;
}
.index-block2-ul{
    li{
        width: 6.8rem;
        height: 12.5rem; 
        border: 1px #3b3b3b solid;
        float: left;
        box-sizing: border-box;
        background: #fff;
        position: relative; 
        margin: 0 1.7rem 1.5rem;
        padding: 0 0.4rem;
        &:nth-child(2n){
            margin-left: 0;
             float: right;
        }
        .line{
            display: block;
            width: 4rem;
            height: 3px;
            background: #fff;
            margin-top: -2px;
        }
        h3{
            font-size: 1rem;
            color: #2c2c2c;
            font-weight: normal;
            margin: -0.5rem auto 0;
            text-align: center;
            &.block2-img1{
                width: 3.4rem;
                height: 1rem;
                background: url(../img/block2-img1.png) no-repeat;
                background-size: 100% 100%;
            }
            &.block2-img2{
                width: 3.88rem;
                height: 1rem;
                background: url(../img/block2-img2.png) no-repeat;
                background-size: 100% 100%;
            }
            &.block2-img3{
                width: 2.78rem;
                height: 1rem;
                background: url(../img/block2-img3.png) no-repeat;
                background-size: 100% 100%;
            }
            &.block2-img4{
                width: 2rem;
                height: 1rem;
                background: url(../img/block2-img4.png) no-repeat;
                background-size: 100% 100%;
            }
            i{
                font-size: 0.45rem;
                font-style: normal;
            }
        }
        img{
            width: 2rem;
            display: block;
            margin: 0.5rem auto;
        }
        h4{
            font-weight: normal;
            font-size: 0.45rem;
            color: #352e2c;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        p{
            font-size: 0.35rem;
            line-height: 0.85rem;
            color: #666666;
            text-align: justify;
        }
    }
}
.index-block3{
    .centerBox{
        margin: 1rem auto 0;
    }
    .centerBox-title{
        text-align: center;
        font-size: 0.75rem;
        color: #352e2c;
        margin-bottom: 1.75rem;
        line-height: 1.4rem;
        b{
            font-size: 1.05rem;
            font-weight: normal;
        }
        img{
            width: 3rem;
            height: 3rem;
            position: relative;
            top: 0.625rem;
        }
    }
}
.index-block3-ul{
    overflow: hidden;
    margin-bottom: 1.75rem;
    margin: 0 0.5rem 1rem;
    li{
        width: 8.5rem;
        img{
            display: block;
            width: 4.8rem;
            height: 1.1rem;
            margin: 0 auto 1rem;
            .imgw1{
                width: 4.7rem;
                height: 44px;
            }
            .imgw2{
                width: 3.5rem;
                height: 44px;
            }
            .imgw3{
                width: 4.75rem;
                height: 42px;
            }
            .imgw4{
                width: 4.25rem;
                height: 42px;
            }
        }
        span{
            display: block;
            width: 100%;
            height: 4.5rem;            
            position: relative;
            i{
                width: 3rem;
                height: 1rem;
                display: inline-block;
                text-align: center;
                line-height: 1rem;
                font-style: normal;
                font-size: 0.35rem;
                color: #fff;
                background: #6acce8;
                position: absolute;
                bottom: 0.45rem;
                left: 0;
                cursor: pointer;
            }
            &.wangguan1{
                background: url(../img/wangguan-bg1_03.jpg) no-repeat;
                background-size: 100% 100%;
            }
            &.wangguan2{
                background: url(../img/wangguan-bg2_05.jpg) no-repeat;
                background-size: 100% 100%;
            }
            &.wangguan3{
                background: url(../img/wangguan-bg3_10.jpg) no-repeat;
                background-size: 100% 100%;
            }
            &.wangguan4{
                background: url(../img/wangguan-bg4_12.jpg) no-repeat;
                background-size: 100% 100%;
            }
        }
        h4{
            font-size: 0.45rem;
            color: #000;
            line-height: 0.75rem;
            font-weight: normal;
            margin-top: 0.625rem;
            padding: 0 0.5rem;
        }
        p{
            font-size: 0.35rem;
            color: #666;
            line-height: 0.75rem;
            padding: 0 0.5rem;
        }
    }
}
.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.index-block4{
    width: 100%;
    overflow: hidden;
     
    .centerBox{
        margin: 0.75rem auto 0;
    }
    .centerBox-title{
        text-align: center;
        font-size: 0.75rem;
        color: #352e2c;
        margin-bottom: 1.5rem;
        line-height: 1.4rem;
        b{
            font-size: 1rem;
            font-weight: normal;
        }
        img{
            width: 1.5rem;
            height: 1.75rem;
            position: relative;
            top: -0.25rem;
        }
    }
}
.link-bg{
    margin-top: -0.5rem;
    background: url(../img/link-bg.png) top center no-repeat;
    background-size: 100%;
}
.index-block4-ul{
    margin: 0 auto 0;
    padding-top: 4.9rem;
    padding-left: 5.4rem;
    box-sizing: border-box;
    li{
        color: #fff;
        height: 13.25rem;
        margin-bottom: 4.75rem;
        >h3{
            font-size: 1.2rem;
            line-height: 1.45rem;
            margin-bottom: 0.5rem;
            font-weight: 500;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: -0.75rem;
                left: 0px;
                width: 3.5rem;
                height: 0.075rem;
                background: #fff;
            }
        }
        p{
            font-size: 0.6rem;
            line-height: 0.9rem;

        }
        .more-btn{
            display: block;
            width:  3.25rem;
            height: 1.2rem;
            background: #6acce8;
            font-size: 0.5rem;
            color: #fff;
            line-height: 1.2rem;
            text-align: center;
            border-radius: 5px;
            margin: 1rem 0;
        }
        .small-tips{
            margin-bottom: 0.75rem;
            span{
                display: inline-block;
                font-size: 0.5rem;
                color: #fff;
                margin-right: 0.5rem;
                line-height: 0.8rem;
            }
        }
        .long-tips{
            p{
                font-size: 0.5rem;
                line-height: 0.7rem;
            }
        }
         &:last-child{
            margin-bottom: 1.175rem;
             .more-btn{
                background: #fef260;
                color: #4f9899;
            }
        }
    }
}
.index-block5{
    .centerBox{
        margin:0.75rem auto 0;
    }
    .centerBox-title{
        text-align: center;
        font-size: 0.75rem;
        color: #352e2c;
        b{
            font-size: 1.1rem;
            font-weight: normal;
        }
        img{
            width: 2.88rem;
            height: 2.32rem;
            position: relative;
            top: 0.2rem;
        }
    }
}
.news-bg{
    margin-top: -20px;
    background: url(../img/news-bg.png) top center no-repeat;
    background-size:130%;
}
.index-block5-ul{
    margin: 0 auto 0.8rem;
    padding-top: 4rem;
    padding-left: 2.15rem;
    box-sizing: border-box;
    padding-bottom: 5rem;
   li{
        font-size: 0.4rem;
        color: #000;
        line-height: 1rem;
        i{
            float: left;
            width: 0.125rem;
            height: 0.125rem;
            border: solid 3px #6acce8;
            border-radius: 50%;
            margin-top: 0.3rem;
            margin-right: 0.3rem;
        }
        span{
            margin-left: 0.3rem;
            color: #bfbfbf;
            position: relative;
            top: -0.3rem;
        }
        a{
            font-size: 0.35rem;
            color: #000;
            display: inline-block;  
            max-width: 10rem;
             white-space:nowrap; 
            overflow:hidden; 
            text-overflow:ellipsis;
        }

   }
   .more-btn{
        display: block;
        width:  3.25rem;
        height: 1.2rem;
        background: #6acce8;
        font-size: 0.5rem;
        color: #fff;
        line-height: 1.2rem;
        text-align: center;
        border-radius: 5px;
        margin: 0.5rem auto 1.5rem;
   }
}
.index-block6{
    height: 4.75rem;
    padding: 1rem 0.75rem 0;
    border-top: 1px #d6d6d6 solid;
    position: relative;
    img{
        width: 100%;
        display: block;
        position: relative;
        z-index: 2;
    }
    .index-block6-bg{
        width: 100%;
        height: 3rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: #f6f6f6;
    }
}
.index-block7{
    width: 100%;
//  height: 238px;
overflow: hidden;
    background: #1f60a4;
    border-bottom: 1px #497db3 solid;
}
.index-block7-ul{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding:0.4rem 0 0.8rem 0.8rem;
    box-sizing: border-box;
    li{
        float: left;
        width: 33.3%;
        padding-top:0.4rem;
        box-sizing: border-box;
        &.left1{
            width: 31%;
        }
        &.left2{
            width: 38%;
        }
        &.left3{
            width: 30%;
        }
        h4{
            font-size: 0.5rem;
            color: #76d1d8;
            height: 1.5rem;
            line-height: 1.5rem;
//          font-weight: normal;
            i{
                display: inline-block;
                width: 8px;
                height: 7px;
                background: url(../img/suangjiantou.png) no-repeat;
                background-size: 100% 100%;
                margin-right: 5px;
            }
        }
        a{
            font-size: 0.45rem;
            color: #fff;
            line-height: 0.9rem;
            display: block;
        }
        &.widthauto{
//        width: 120px;  
        }
    }
}
.index-block8{
    width: 100%;
    padding: 0.6rem 0.5rem 0;
    background: #1f60a4;
    box-sizing: border-box;
    overflow: hidden;
    p{
//      height: 0.75rem;
        font-size: @title3;
        color: #dcdcdc;
        padding-left: 0.15rem;
        line-height: 0.75rem;
        box-sizing: border-box;
    }
}
.index-block8-left-top{
    height: 1.5rem;
    color: #f5f7fa;
    line-height: 1.5rem;
    font-size: @title2;
    a{
        color: #f5f7fa;
        font-size: @title2;
        padding: 0 0.15rem;
    }
}
.erweimas{
    padding-left: 0.15rem;
    margin: 0.75rem 0 1.5rem;
    img{
        width: 2.5rem;
        margin-right: 0.5rem;
    }
}
