.rongzi{
    .wl-banner .wl-big-events.channel-baner-title {
        background: url(../img/rong12.png) no-repeat left center;
        
    }
    .wl-summary{
        margin-top: 10px;
    }
    .wl-banner.channel-banner {
        background: url(../img/rong2.jpg) no-repeat center;
        background-size: auto 726px;
    }
    .data{
        height: 270px;
        width: 800px;
        margin: 0 auto;
        .wl-title{
            margin-bottom: 42px;
        }
        .fl{
            position: relative;
            >span{
                position: absolute;
                text-align: center;
                top: 64px;
                left: 13px;
                &:nth-child(3){
                    left: 110px;
                }
                &:nth-child(4){
                    left: 228px;
                }
            }
        }
        .fr{
            position: relative;
            >span{
                position: absolute;
                text-align: center;
                top: 53px;
                left: 15px;
                &:nth-child(3){
                    left: 160px;
                }
                &:nth-child(4){
                    left: 257px;
                }
            }
        }

    }
    .two-model-div{
        background: url(../img/rong-step.jpg) no-repeat bottom center;
        padding-bottom: 65px;
    }
    .two-model{
        width: 800px;
        margin: 0 auto;
        overflow: hidden;
        
        dt{
            margin-bottom: 62px;
        }
         dd{
            float: left;
            text-align: center;
            width: 353px;
            border: solid 1px #b4b4b4;
            padding: 56px 70px 30px;
            -moz-box-sizing: border-box;  /*Firefox3.5+*/
             -webkit-box-sizing: border-box; /*Safari3.2+*/
             -o-box-sizing: border-box; /*Opera9.6*/
             -ms-box-sizing: border-box; /*IE8*/
             box-sizing: border-box;
             position: relative;
             >.img-div{
                position: absolute;
                top: -30px;
                left: 50%;
                margin-left: -50px;
                width: 100px;
                text-align: center;
                background: #fff;
             }
             h5{
                font-size: 18px;
                color: #333;
                line-height: 30px;

             }
             .gray-span{
                margin-bottom: 13px;
             }
             p{
                font-size: 12px;
                color: #333;
                line-height: 23px;
                >span{
                    font-size: 14px;
                    color: #999;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
             }
         }
    }
    .data-info-banner{
            height: 270px;
            background: url(../img/rong1.jpg) no-repeat top center;
            background-size: 100% auto;
            h3{
                font-size: 24px;
                margin-left: -350px;
            }
    }
    .data-info{
        h3{
            font-size: 18px;
            line-height: 52px;
            text-align: center;
            margin-bottom: 30px;
        }
        li{
            margin-bottom: 20px;
            img{
                float: left;
                margin-right: 9px;
            }
            p{
                font-size: 12px;
                line-height: 18px;
                color:#666;
            }
            h5{
                color:#333;
            }

        }
        li:nth-child(4n) {
            margin-right: 29px;
        }
        li:nth-child(5) {
            margin-right: 0px;
        }
        li:nth-child(9) {
            margin-right: 0px;
        }
        li:nth-child(13) {
            margin-right: 0px;
        }
        .bottom-li{
            margin-top: 35px;
            h5{
                margin-bottom: 18px;
            }
            p{
                line-height: 24px;
            }
        }
    }
    .data-info-banner2{
        background: url(../img/rong18.jpg) no-repeat top center;
        background-size: 100% auto;
    }
    .data-info2{
        margin-bottom: 0px;
        .img-money{
            width: 100%;
        }
        .bottom-li{
            margin-top: 27px;
            h5{
                line-height: 25px;
            }
        }
    }
    .partner-div{
        position: relative;
        .partner-bg{
            position: absolute;
            right: 0px;
            top: -210px;
            z-index: 1;
        }
    }
    .partner{
        width: 800px;
        margin: 0 auto 40px;
        position: relative;
        z-index: 2;
        .wl-title{
            padding-top: 40px;
        }
        >p{
            font-size: 12px;
            color: #999;
            text-align: center;
        }
        ul{
            margin-top: 38px;
            overflow: hidden;
        }
        li{
            float: left;
            &:nth-child(1){
                width: 157px;
                text-align: center;
            }
            &:nth-child(2){
                width: 246px;
                text-align: center;
            }
            &:nth-child(3){
                width: 140px;
                text-align: center;
            }
            &:nth-child(4){
                width: 250px;
                text-align: center;
            }
            p{
                font-size: 12px;
                color: #333;
                text-align: center;
                line-height: 24px;
                margin-top: 10px;
            }
        }
    }
    .qiye{
        width:800px;
        margin: 0 auto;
        text-align: center;
        >p{
            font-size: 12px;
            color: #999;
            text-align: center;
        }
        >img{
            margin: 20px 0 30px;
        }  
    }
    .channel-block5{
        background: #fff;
        padding: 0px;
        height: 360px; 
        .wl-title{
            padding-top: 40px;
        }
    }
    .channel-block5-ul{
        width: 800px;
    }
    .channel-block5 .channel-block5-ul {
        background: url(../img/rong10.jpg) no-repeat left top;
    }
    .index-block6 img{
        margin-top: 26px;
    }
}
.wl-title{
    font-size: 18px;
    color: #333;
    text-align: center;
    height: 60px;
    line-height: 27px;
    font-weight: 600;
    padding-top: 50px;
    >span{
        font-size: 30px;
    }
    i{
        position: relative;
        top: -5px;
        right: 5px;
    }
}