.sell{
    .channel-block5{
        background: #f6f6f6;
//      height: 403px;
        height: 290px;
        .channel-block5-ul{
//              background: url(../img/gray-logo.png) no-repeat left top;
        }
    }
    .wl-banner .wl-big-events.channel-baner-title {
        background: url(../img/sell-channel.png) no-repeat left center;
        
    }
    .wl-summary{
        margin-top: 10px;
    }
    .wl-banner.channel-banner {
        background: url(../img/sell1.png) no-repeat center;
        background-size: auto 726px;
    }
    .step1{
        height: 400px;
        background: url(../img/sell-step.jpg) no-repeat top center;
        .middle{
            height: 100%;
            p{
                font-size: 12px;
                color: #333;
                position: absolute;
                line-height: 25px;
                width: 390px;
            }
            p:nth-child(1){
                    color: #fff;
                    font-size: 14px;
                    left: 263px;
                    top: 131px;
            } 
            p:nth-child(2){
                    left: 257px;
                    top: 166px;
                    color: #999;
            }  
            p:nth-child(3){
                left: 257px;
                top: 196px;

            }    
        }
        .bottom-tips{
            font-size: 12px;
            color: #333;
            position: absolute;
            bottom: 37px;
            left: 0px;
            text-align: center;
            width: 100%;
            line-height: 24px;

        }
    }
    .step2{
        width: 800px;
        margin: 0 auto;
        overflow: hidden;
        li{
            float: left;
            width: 50%;
            &:nth-child(2){
                >p{
                    margin: 10px 0 0 39px;
                }
            }
            >p{
                font-size: 12px;
                color: #333;
                line-height: 24px;
                margin: 10px 0 0 34px;
            }
        }

    }
    .step4{
        height: 600px;
        background: url(../img/sell-step4.jpg) no-repeat  top center;
        background-position-y: 70px;
        margin-bottom: 110px;
        .middle{
            height: 100%;
            >p{
                font-size: 12px;
                color: #333;
                position: absolute;
                line-height: 25px;
                width: 420px;
            }
            >p:nth-child(1){
                    color: #fff;
                    font-size: 14px;
                    left: 263px;
                    top: 162px;
            } 
            >p:nth-child(2){
                    left: 257px;
                    top: 196px;
                    color: #999;
            }  
            >p:nth-child(3){
                left: 257px;
                top: 226px;

            }
            .bottom-wz{
                position: absolute;
                bottom: 20px;
                right: 0px;
                width: 350px;
                >h5{
                    font-weight: 500;
                    font-size: 14px;
                    color: #77d0ea;
                    line-height: 24px;
                    margin-bottom: 10px;
                }
                >p{
                    line-height: 25px;
                    font-size: 12px;
                    color: #333;
                }
            }  
        }
    }
    .data-info-banner{
        height: 270px;
        background: url(../img/sell5.jpg) no-repeat top center;
        background-size: 100% auto;
        h3{
            font-size: @title1;
            color: #fff;
            line-height: 26px;
            text-align: center;
            position: relative;
            top: 50px;
        }
    }
    .data-info{
        background: #fff;
        padding: 0.75rem;
        // margin: -120px auto 28px;
        overflow: hidden;
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
         -webkit-box-sizing: border-box; /*Safari3.2+*/
         -o-box-sizing: border-box; /*Opera9.6*/
         -ms-box-sizing: border-box; /*IE8*/
         box-sizing: border-box;
        li{
            float: left;
            width: 25%;
            &:nth-child(4n){
                margin-right: 0px;
            }
            >h5{
                font-size: 14px;
                color: #6acce8;
                line-height: 30px;
//              font-weight: 500;
                margin-bottom: 12px;
            }
            >p{
                font-size: 12px;
                color: #333;
                line-height: 25px;
                margin-bottom: 0.25rem;
            }
            >div{
                font-size: 12px;
                color: #f0f0f0;
                span{
                    color: #a9a9a9;
                }
            }
        }
            
    }

}
.get-data{
    height: 600px;
    background: url(../img/sell2.png) no-repeat center;
    >h4{
        font-size: 18px;
        color: #333;
        text-align: center;
        height: 60px;
        line-height: 60px;
        position: relative;
        top: 50px;
        span{
            font-size: 30px;
        }
    }
}
.middle{
    width: 800px;
    margin: 0 auto;
    position:relative;
}
.sell-block{
    width: 800px;
    margin: 0 auto;
    li{
        margin-bottom: 100px;
        min-height: 255px;
    }
    .sell-detail1{
        margin-left:400px;
        padding-top: 20px;
        h4{
            font-size: 18px;
            margin-bottom: 39px;
            span{
                font-size: 24px;
            }
            i{
                position: relative;
                top: -20px;
                margin-right: 5px;
            }
        }
        p{
            font-size: 12px;
            color: #333;
            line-height: 24px;
            margin-bottom: 23px;
            span{
                color: #6acce8;
            }
        }
    }
    .sell-detail2{
        margin-right:400px;
        h4{
            font-size: 18px;
            margin-bottom: 39px;
            line-height: 30px;
            span{
                font-size: 24px;
            }
            i{
                position: relative;
                top: -20px;
                margin-right: 5px;
            }
        }
        p{
            font-size: 12px;
            color: #333;
            line-height: 24px;
            margin-bottom: 23px;
            span{
                color: #6acce8;
            }
        }
    }
}
.fl{
    float: left;
}
.fr{
    float: right;
}
 .channel-btn{
        text-align: center;
        margin-bottom: 75px;
        h4{
            font-size: 24px;
            line-height: 60px;
        }
        .channel-btn-a{
            display: inline-block;
            width: 170px;
            height: 50px;
            background: #6acce8;
            line-height: 50px;
            text-align: center;
            color: #fff;
        }
    }