.shujugongju-title1{
    text-align: center;
    font-size: 0.85rem;
    color:#172326;
    height: 2rem;
    line-height: 2rem;
    margin: 0.8rem 0 0.45rem 0;
    font-weight: normal;
}
.yinhao-left{
    display:inline-block;
    width: 2.2rem;
    height: 1.15rem;
    background: url(../../images/q-douhao.jpg) no-repeat;
    background-size: 100%;
    margin: 0 0.1rem 0 0;
}
.yinhao-right{
    display:inline-block;
    width: 2.2rem;
    height: 1.15rem;
    background: url(../../images/h-douhao.jpg) no-repeat;
    background-size: 100%;
    margin: 0 0 0 0.1rem;
}
.shujugongju-title2{
    font-size: 0.9rem;
    color:#40b2e8;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0.4rem;
}
.shujugongju-title3{
    font-size: 0.55rem;
    color:#6b6b6b;
    text-align: center;
    margin-bottom: 0.4rem;
}
.download-bottom-flex{
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
    &.borderNone{
        li{
            border: none;
            width: 26%;
            margin: 0 3.4% 2.875rem;
            padding-bottom: 1.15rem;
            img{
                width: 3.325rem;
            }
            span{
                margin: 0 auto;
            }
        }
    }
    &.shujugongju-bottom{
        margin-top: 1.2rem;
        li{
            width: 30%;
            margin: 0 1.4% 2rem;
//          padding-bottom: 1.15rem;
            span{
                margin: 0 auto;
                height: 9.85rem;
                padding: 0 10%;
            }
        }
    }
    &.shujuanquan-height{
        li{
            span{
                height: 5rem;
            }
        }
    }
    &.shujuanquan-bottom{
        width: 98%;        
        li{
            width: 31%;
            margin: 0 1.2% 2.875rem;
            border: 1px #d2d2d2 solid;
            float: left;
            box-sizing: border-box;
            padding: 1.15rem 0 1.5rem;
            img{
                width: 1.75rem;
                display: block;
                margin: 0 auto;
            }
            p{
                height: 2.6rem;
                line-height: 0.8rem;
                font-size: 0.6rem;
                color:#000;
                text-align: center;
                display: flex;
                align-items: center;
            }
            span{
                height: 6.15rem;
                line-height: 0.8rem;
                display: block;
                font-size: 0.4rem;
                color:#666666;
                text-align: center;            
                box-sizing: border-box;
                padding: 0 10%;
            }
        }
    }
    li{
        width: 26%;
        margin: 0 3.4% 2.875rem;
        border: 1px #d2d2d2 solid;
        float: left;
        box-sizing: border-box;
        padding: 1.15rem 0 1.5rem;
        img{
            width: 1.75rem;
            display: block;
            margin: 0 auto;
        }
        p{
            height: 1.5rem;
            line-height: 1.5rem;
            font-size: 0.7rem;
            color:#000;
            text-align: center;
        }
        span{
            height: 1.15rem;
            line-height: 0.9rem;
            display: block;
            font-size: 0.25rem;
            color:#666666;
            text-align: center;            
            box-sizing: border-box;
        }
    }
}