.shujugongju-title1{
    text-align: center;
    font-size: 1rem;
    color:#172326;
    height: 2rem;
    line-height: 2rem;
    margin: 0.8rem 0 0.45rem 0;
    font-weight: normal;
}
.yinhao-left{
    display:inline-block;
    width: 2.2rem;
    height: 1.15rem;
    background: url(../../images/q-douhao.jpg) no-repeat;
    background-size: 100%;
    margin: 0 0.1rem 0 0;
}
.yinhao-right{
    display:inline-block;
    width: 2.2rem;
    height: 1.15rem;
    background: url(../../images/h-douhao.jpg) no-repeat;
    background-size: 100%;
    margin: 0 0 0 0.1rem;
}
.shujugongju-title2{
    font-size: 1rem;
    color:#40b2e8;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0.4rem;
}
.shujugongju-title3{
    font-size: 0.55rem;
    color:#6b6b6b;
    text-align: center;
    margin-bottom: 0.4rem;
}
